.heading{
position: absolute;
width: 737px;
height: 61px;
left: 399px;
top: 524px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;

}

.rec2731{
    position: absolute;
width: 1771px;
height: 102px;
left: 0px;
top: 651px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
}

.buttonAll{
    position: absolute;
    width: 82px;
    height: 59px;
    left: 124px;
    top: 672px;
    font-weight: 500;
    /* font-size: x-large; */
    /* text-decoration: underline; */
    /* color: white; */
    /* background: #FF5F24; */
    border-radius: 30%;
}
.buttonEducation{
    position: absolute;
width: 165px;
height: 42px;
left: 258px;
top: 678px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
display: flex;
align-items: center;
border-radius: 30%;

color: #000000;
}
.buttonChildren{
    position: absolute;
width: 138px;
height: 42px;
left: 475px;
top: 678px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
display: flex;
align-items: center;

color: #000000;
}
.buttonWomen{
    position: absolute;
width: 372px;
height: 42px;
left: 665px;
top: 678px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
display: flex;
align-items: center;

color: #000000;
}
.buttonHealthcare{
    position: absolute;
width: 181px;
height: 42px;
left: 1091px;
top: 678px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
display: flex;
align-items: center;

color: #000000;

}

.projects{
    position: absolute;
width: 354px;
height: 48px;
left: 124px;
top: 809px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #000000;
}

.projectsSub{

position: absolute;
width: 820px;
height: 40px;
left: 124px;
top: 878px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 40px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}

.popular{
    position: absolute;
    width: 190px;
    height: 36px;
    left: 1147px;
    top: 821px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FF5F24;

}


.moreResults{
    position: absolute;
width: 327px;
height: 36px;
left: 657px;
top: 1775.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #FF5F24;


}

/* get dynamic code */
