h3 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  font-weight: 500 !important;
  font-size: 40px !important;
  line-height: 47px !important;
  color: #111317;
}
h3:before,
h3:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
  opacity: 0.2;
}
h3:before {
  margin-right: 20px;
  margin-top:50px;
}
h3:after {
  margin-left: 20px;
}

.active{
  margin-top: 80px;
}
.container {
  height: 600px;
  background-image: url("../../../assests/whysimmibackground.png");
  text-align: center;

  .whySimmi {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 300px;
    position: relative;
    justify-content: center;
    div {
      // background-color: inherit;
      color: black;
    }
    .WhySimmi_support {
      display: flex;
      flex-direction: row;
      width: 600px;
      height: 360px;
      filter: drop-shadow(4px 0px 8px rgba(0, 0, 0, 0.25));
      padding: 20px 90px 51px 90px !important;
      top: -78px;
      left: 51px;
      align-content: space-between;
      justify-content: center;
      align-items: center;
      div {
        width: 187.82px;
        height: 180px;
        margin-top: 20px;
        margin-left: 20px;
        background: linear-gradient(180deg, #fffdd0 0%, #fffdd0 97.92%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 500;
        line-height: 19.36px;
        align-items: center;
        p {
          padding: 0 18px;
        }
      }
    }
  }
}
