.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #212529;
  button {
    text-transform: capitalize;
    padding: 8px;
  }
  .logo_box {
    border: none;
    background: transparent;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // overflow: hidden;
    li {
      float: left;
      padding-right: 20px;
      a {
        display: block;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        text-decoration: none;
        padding: 5px;
      }
    }
    .dropdown_menu {
      position: relative;
      .dropdown {
        position: absolute;
        width: 200px;
        background: #212529;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.4s;
        transform: scaleY(0);
        overflow: hidden;
        transform-origin: top center;
        li {
          padding: 0;
          width: 100%;
          &:hover {
            background-color: #ff8c21;
          }
          a,
          button {
            padding-left: 10px;
          }
          hr {
            margin: 0;
            color: #ffffff;
          }
        }
      }
      &:hover .dropdown {
        animation: scale 0.25s ease-in-out forwards;
      }
    }
  }
  .startFundraiser {
    font-weight: 600;
    font-size: 16.95px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    border: 3px solid #ff8c21;
    border-radius: 10px;
    margin-right: 8px;
    padding: 7px;
  }
  .donate {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background: #ff8c21;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 8px;
    border-radius: 10px;
    &:hover {
      background: #ffffff;
      color: #ff8c21;
    }
  }
  .profile_buttons {
    display: flex;
    // width: 228px;

    .logIn {
      mix-blend-mode: normal;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: 1px solid #ffffff;
      border-radius: 5px;
      font-weight: 500;
      margin-right: 45px;
      font-size: 16px;
      line-height: 19px;
      padding: 10px 37px;
      color: #ffffff;
      &:hover {
        background: #555353;
      }
    }
    
  .signIn {
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    // padding: 10px 37px;
    padding-left: 29px;
    padding-right: 29px;
    color: #ffffff;
    &:hover {
      background: #555353;
    }
  }
  }
  .userLogedIn {
    position: relative;
    padding: 0;
    .profileHandler {
      padding: 0 !important;
    }
    .userLogedIn_userProfile {
      position: absolute;
      border: 1px solid rgba(0, 0, 0, 0.25);
      width: 350px;
      top: 100%;
      right: 0;
      transform: translateY(10px);
      border-radius: 10px;
      background: white;
      z-index: 999999;
      div {
        flex-direction: column;
        align-content: center;
        align-items: center;
      }
      h3 {
        color: #202124;
        font-size: 16px;
        font-weight: 500;
      }
      h5 {
        color: #5f6368;
        letter-spacing: 0.2px;
        font-size: 14px;
      }
      .userProfile_myDashboard {
        div {
          width: 100%;
          button {
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.25);
            font-size: 20px;
            line-height: 24px;
            color: #555353;
            text-decoration: none;
            padding-top: 15px;
            padding-left: 15px;
          }
          .profile {
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.3);
  }
  100% {
    transform: scaleY(1);
  }
}
