
li.dot.selected {
    background: #FFAB40 !important;
}
.Cards_cards__qmGwh{
    justify-content: space-around;
}
.carousel.carousel-slider .control-arrow{
    background: #FFAB40;
    color: #FFAB40 !important;
}