.introText{
    height: 300px;
    width:100%; 
    /* width: 1260px; */
   
}
.introTextch{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 50px;
/* or 200% */

letter-spacing: 0.02em;
margin-left: 90px;
margin-right: 90px;

color: #000000;
}