.picture{
position: absolute;
width: 1539px;
height: 360.51px;
left: -1px;
top: 10px;

background: linear-gradient(180deg, rgba(50, 48, 44, 0.12) 84.51%);
}

.rec2821{
    position: absolute;
width: 995px;
height: 486px;
left: 235px;
top: 342px;

background: #FFFFFF;
box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2), 7px 7px 10px rgba(0, 0, 0, 0.2);
}
.footer{
    position: absolute;
width: 540px;
height: 27px;
left: 486px;
top: 927px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 135%;
/* identical to box height, or 27px */

text-align: center;
letter-spacing: 0.01em;

color: rgba(0, 0, 0, 0.7);
}

.header{
    position: absolute;
width: 428px;
height: 61px;
left: 500px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 61px;
/* identical to box height */

text-align: center;

color: #000000;
}
.headerSub{
    position: absolute;
/* width: 517px;
height: 30px; */
left: 300px;
top: 140px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: rgba(0, 0, 0, 0.6);
}
.rec2822{
    box-sizing: border-box;

position: absolute;
width: 889px;
height: 169px;
left: 288px;
top: 399px;

background: rgba(255, 229, 161, 0.74);
border: 3px solid rgba(51, 51, 51, 0.1);
border-radius: 7px;
}
.rec2824{

box-sizing: border-box;

position: absolute;
width: 889px;
height: 170px;
left: 288px;
top: 603px;

background: rgba(131, 131, 131, 0.26);
border: 3px solid rgba(51, 51, 51, 0.1);
border-radius: 7px;
}
.rec2823{
    position: absolute;
width: 351px;
height: 169px;
left: 826px;
top: 399px;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;

background: rgba(221, 175, 131, 0.15);
}
.group1299
{
    position: absolute;
width: 95px;
top: 437px;
height: 90px;
left: 322px;

z-index: 1;
background: url(../Pictures/Pic2.png);
border-radius: 5px;
}
.rectangle2688{

position: absolute;
width: 109px;
height: 106px;
left: 314px;
top: 430px;

background: linear-gradient(180deg, #FF7E36 0%, #FFA740 97.92%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.rectangle2668{
    position: absolute;
width: 106px;
height: 99px;
left: 314px;
top: 639px;

background: linear-gradient(180deg, #FF7E36 0%, #FFA740 97.92%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.group1300{
    position: absolute;
    width: 95px;
    top: 647px;
    height: 85px;
    left: 320px;
    z-index: 1;

background: url(../Pictures/Pic3.png);
border-radius: 5px;
}
.individuals{
    position: absolute;
height: 39px;
left: 430px;
top: 438px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
margin-bottom: 10px;
}
.individuals2{
    position: absolute;
height: 30px;
left: 425px;
top: 645px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #000000;
}
.subtext{
    position: absolute;
width: 389px;
height: 50px;
left: 450px;
top: 480px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: rgba(0, 0, 0, 0.4);
}

.subtext2{
    position: absolute;
width: 576px;
height: 50px;
left: 445px;
top: 689px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: rgba(0, 0, 0, 0.4);
}

.rec2825{
    position: absolute;
width: 350px;
height: 170px;
left: 826px;
top: 603px;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
background: rgba(0, 0, 0, 0.04);
}
.arrow{
    position: absolute;
width: 31px;
height: 34px;
left: 1086px;
top: 467px;

border-radius: 3px;
}
.arrow2{
    position: absolute;
width: 31px;
height: 34px;
left: 1086px;
top: 669px;


border-radius: 3px;
}
.IndividualFunds{
    position: absolute;
width: 373px;
height: 58px;
left: 80px;
top: 193px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #000000;
}

.FundraiserPurpose{
    position: absolute;
width: 517px;
height: 30px;
left: 80px;
top: 270px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: rgba(0, 0, 0, 0.6);
}
.rectangle2805{
    box-sizing: border-box;

position: absolute;
width: 975px;
height: 76px;
left: 80px;
top: 401px;

background: #F4F4F4;
border: 1px solid rgba(32, 32, 32, 0.1);
border-radius: 5px;
}

.category{
    position: absolute;
width: 211px;
height: 30px;
left: 133px;
top: 424px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: rgba(0, 0, 0, 0.5);
}

.dropdown{
    position: absolute;
width: 18px;
height: 16px;
left: 1003px;
top: 437px;

}
.rectangle2807{
    position: absolute;
width: 975px;
height: 73px;
left: 80px;
top: 494px;

background: #FFFFFF;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #000000;
}

.rectangle2808{
    box-sizing: border-box;

position: absolute;
width: 975px;
height: 73px;
left: 80px;
top: 567px;

background: #FFFFFF;
border-width: 0px 1px;
border-style: solid;
border-color: #000000;
}

.rectangle2809{
    box-sizing: border-box;

position: absolute;
width: 975px;
height: 73px;
left: 80px;
top: 640px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #000000;
}

.supportCampaign{
    position: absolute;
width: 325px;
height: 30px;
left: 133px;
top: 515px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #333333;

}
.medicalFunds{
    position: absolute;
width: 171px;
height: 30px;
left: 133px;
top: 588px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #333333;

}
.others{
    position: absolute;
width: 81px;
height: 30px;
left: 133px;
top: 661px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #333333;

}

.line35{
    position: absolute;
width: 976px;
height: 0px;
left: 80px;
top: 567px;

border: 1px solid #000000;
}
.line36{
    position: absolute;
width: 976px;
height: 0px;
left: 80px;
top: 640px;

border: 1px solid #000000;
}